*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  position: absolute;
  right: 690px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 72px;
  text-align: left;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-right: 72px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.main-navigation a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-navigation a,
.hotels-title-link {
  color: #000000;
}

.main-navigation a:hover,
.hotels-title-link:hover {
  color: #81b3d2;
}

.main-navigation a:focus,
.main-navigation a:active,
.hotels-title-link:focus,
.hotels-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a.current {
  color: #766357;
}

.main-navigation a.current:focus,
.main-navigation a.current:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
 min-height: 510px;
 text-align: center;
 padding-top: 80px;

 background-color: #8695a0;
 background-image: url(../img/svg/intro-mask.svg), url(../img/jpg/sedona-overview.jpg);
 background-position: left 50% bottom, 0px -56px;
 background-repeat: no-repeat;
}

.slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: 440px;
  padding-top: 38px;
  margin-left: auto;
  margin-right: auto;
}

.advantages h2 {
  padding-top: 10px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2){
  display: flex;
  flex-wrap: wrap;
}

.advantages-content-wrapper {
  width: 400px;
  text-align: center;
}

.advantages-content-wrapper h3 {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
}

.advantages-number {
  display: block;
  padding-top: 5px;
}

.advantages-content-wrapper p {
  padding-left: 45px;
  padding-right: 45px;
}

.advantages-image-wrapper {
  width: 800px;
}

.advantages-image-wrapper img {
  vertical-align: bottom;
}

.advantages h2 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  text-align: center;
}

.advantages ul {
  list-style: none;
}

.advantages-item {
  text-align: center;
  line-height: 21px;
}

.advantages-item p,
.advantages-item span {
  color: #333333;
}

.advantage-blue {
  background-color: #81b3d2;
}

.advantage-blue h3,
.advantage-blue span,
.advantage-blue p {
  color: #ffffff;
}

.advantage-grey h3 {
  margin: 0;
  padding-left: 130px;
  padding-right: 130px;
}

.advantage-grey span {
  padding-top: 25px;
}

.advantage-grey p {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
}

.advantages-sublist {
  display: flex;

  padding: 0;
  list-style: none;

  background-color: #ffffff;
}

.sublist-item p {
  color: #333333;
}

.sublist-item {
  width: 400px;
  min-height: 330px;
  color: #000000;
}

.sublist-item h4 {
  position: relative;
  margin-top: 0;
  padding-top: 160px;
}

.sublist-item-accomodation p {
  padding-left: 72px;
  padding-right: 72px;
}

.sublist-item-food p {
  padding-left: 50px;
  padding-right: 50px;
}

.sublist-item-souvenirs p {
  padding-left: 50px;
  padding-right: 50px;
}

.sublist-item-accomodation h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 165px;
  width: 75px;
  height: 72px;
  background-image: url(../img/svg/icon-1.svg)
}

.sublist-item-food h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 165px;
  width: 74px;
  height: 70px;
  background-image: url(../img/svg/icon-3.svg);
}

.sublist-item-souvenirs h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 165px;
  width: 64px;
  height: 76px;
  background-image: url(../img/svg/icon-2.svg);
}

.advantage-grey {
  width: 400px;
  min-height: 260px;
  padding-top: 45px;

  background-color: #eeeeee;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.sublist-item h4 {
  font-size: 21px;
  line-height: 21px
}

.search-form {
    text-align: center;
}

.search-form b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  padding-top: 45px;
}

.search-form p {
  color: #333333;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
}

.search-open-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 30px 140px;
  margin-top: 35px;

  background-color: #766357;
  border: none;
}

.search-open-button:hover {
  background-color: #604e43;
}

.search-open-button:focus,
.search-open-button:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #503e33;
 outline: none;

}

/* Форма поиска на главной временно скрыта - её будем стилизовать позже */
.modal-search-form {
  display: none;
}

/*
.modal-search-form {
  width: 570px;
  min-height: 395px;
  position: absolute;
  right: 315px;

  background-color: white;
}
*/

.map {
  position: relative;
  width: 1200px;
  min-height: 475px;
  background-image: url(../img/jpg/map.jpg);
}

.main-footer {
  display: flex;
  min-height: 120px;
  align-items: center;

  background-color: rgba(254, 254, 254, 0.9);
}

.footer-wrapper {
  width: 400px;
  text-align: center;
}

.hashtag-link {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.social-button {
  display: block;
  position: relative;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-right: 5px;
}

.social-button-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 17px;
  height: 15px;
  background-image: url(../img/svg/twitter.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-facebook::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 12px;
  height: 22px;
  background-image: url(../img/svg/fb-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-youtube::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 16px;
  background-image: url(../img/svg/youtube.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
  background-color: #5496bd;
}

.social-button-twitter:active::before,
.social-button-facebook:active::before,
.social-button-youtube:active::before {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.footer-copyright b {
  margin-right: 10px;
}

.academy-logo svg {
  width: 115px;
  height: 41px;
}

.academy-logo path:hover {
  fill: #81b3d2;
}

.academy-logo path:focus,
.academy-logo path:active {
  fill: #bdbbbc;
}

/* Стили для внутренней страницы - начало */

.hotel-filter-form {
  width: 1200px;
  min-height: 220px;
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 32px;

  background-image: url(../img/jpg/filter-background.jpg);
  background-color: #8695a0;
  background-position: center -60px;
}

.hotel-filter-form {
  color: #ffffff;
}

.hotel-filter-form fieldset {
  border: none;
}

.hotel-filter-form legend {
  font-weight: 700;
}

.hotels-infrastructure,
.hotels-accomodation-type {
  widht: 140px;
}

.hotels-infrastructure {
  margin-right: 115px;
}

.hotels-accomodation-type {
  margin-right: auto;
}

.hotels-cost-per-day {
  width: 320px;
}

.hotels-checkbox-wrapper {
  list-style: none;
}

.hotels-checkbox-wrapper li {
  margin-bottom: 30px;
}

.hotel-sorting {
  display: flex;
  align-items: flex-end;
  width: 1200px;
  min-height: 85px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height:18px;
}

.sorting-found-counter {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-right: 48px;
}

.sorting-label {
  margin-right: 40px;
}

.hotel-sorting-toggle {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-left: 30px;
}

.hotel-sorting-toggle:first-child {
  margin-left: 0;
}

.hotel-sorting-toggle:hover {
  color: #81b3d2;
}

.hotel-sorting-toggle:focus,
.hotel-sorting-toggle:active {
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}

.hotel-sorting-toggle.current {
  color: #81b3d2;
  border: none;
}

.hotel-sorting-toggle.current:active {
  color: #000000;
  border: none;
}

.sorting-toggle-wrapper {
  margin-right: auto;
}

.hotel-sorting-button path:hover {
 fill: #000000;
}

.hotel-sorting-button path:focus,
.hotel-sorting-button path:active {
  fill: #81b3d2;
}

.current path {
  fill: #81b3d2;
}

.current:hover path {
  fill: #81b3d2;
}

.sort-ascending {
  margin-right: 15px;
}

.hotels-item {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: solid 1px #e5e5e5;
}

.hotels-item:last-child {
  border-bottom: solid 1px #e5e5e5;
}

.hotels-image-wrapper {
  align-self: flex-end;
  padding-right: 30px;
}

.hotels-item h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.hotels-wrapper {
  width: 260px;
  margin-right: auto;
}

.hotels-info-wrapper {
  display: flex;
}

.hotels-link-wrapper {
  display: flex;
}

.hotels-more {
  margin-right: 8px;
}

.hotels-type {
  width: 115px;
}

.hotels-price {
  width: 140px;
}

.hotels-type,
.hotels-price {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

.hotels-more {
  color: #ffffff;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #81b3d2;
}

.hotels-more:hover {
  background-color: #669ec0;
}

.hotels-more:focus,
.hotels-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.hotels-book {
  color: #ffffff;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #766357;
}

.hotels-book:hover {
  background-color: #604e43;
}

.hotels-book:focus,
.hotels-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}

.hotels-rating {
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #f2f2f2;
}

/* Стили для внутренней страницы - конец */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
