*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 72px;
  text-align: left;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-right: 72px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.main-navigation a,
.hotels-title-link {
  color: #000000;
}

.main-navigation a:hover,
.hotels-title-link:hover {
  color: #81b3d2;
}

.main-navigation a:focus,
.main-navigation a:active,
.hotels-title-link:focus,
.hotels-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
 height: 510px;
 background-color: #8695a0;
 background-image: url(../img/svg/intro-mask.svg), url(../img/jpg/sedona-overview.jpg);
 background-position: left 50% bottom, 0px -56px;
 background-repeat: no-repeat;
}

.slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2){
  display: flex;
  flex-wrap: wrap;
}

.advantages-content-wrapper {
  width: 400px;
}

.advantages-image-wrapper {
  width: 800px;
}

.advantages h2 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  text-align: center;
}

.advantages ul {
  list-style: none;
}

.advantages-item {
  text-align: center;
  line-height: 21px;
}

.advantages-item p,
.advantages-item span {
  color: #333333;
}

.advantage-blue {
  background-color: #81b3d2;
}

.advantage-blue h3,
.advantage-blue span,
.advantage-blue p {
  color: #ffffff;
}

.advantages-sublist {
  display: flex;

  padding: 0;
  list-style: none;

  background-color: #ffffff;
}

.sublist-item p {
  color: #333333;
}

.sublist-item {
  width: 400px;
  min-height: 330px;
  color: #000000;
}

.advantage-grey {
  width: 400px;

  background-color: #eeeeee;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.sublist-item h4 {
  font-size: 21px;
  line-height: 21px
}

.search-form {
    text-align: center;
}

.search-form b {
  font-size: 30px;
  line-height: 36px;
}

.search-form p {
  color: #333333;
  line-height: 24px;
  text-align: center;
}

.search-open-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search-open-button:hover {
  background-color: #604e43;
}

.search-open-button:focus,
.search-open-button:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #503e33;
 outline: none;

}

/* Форма поиска на главной временно скрыта - её будем стилизовать позже */
.modal-search-form {
  display: none;
}

.map {
  width: 1200px;
  height: 475px;
  background-image: url(../img/jpg/map.jpg);
}

.main-footer {
  display: flex;

  background-color: rgba(254, 254, 254, 0.9);
}

.footer-wrapper {
  width: 400px;
  text-align: center;
}

.hashtag-link {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
  background-color: #5496bd;
}

/* Стили для внутренней страницы - начало */

.hotels-item h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotels-type,
.hotels-price {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

.hotels-more {
  color: #ffffff;
  font-weight: 700;

  background-color: #81b3d2;
}

.hotels-more:hover {
  background-color: #669ec0;
}

.hotels-more:focus,
.hotels-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.hotels-book {
  color: #ffffff;
  font-weight: 700;

  background-color: #766357;
}

.hotels-book:hover {
  background-color: #604e43;
}

.hotels-book:focus,
.hotels-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}

.hotels-rating {
  color: #666666;
  font-size: 14px;
  line-height: 21px;

  background-color: #f2f2f2;
}

/* Стили для внутренней страницы - конец */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
